.menu-container{
    background-color: var(--black);
    color:white;
    text-align:center;
    font-family: var(--baseFont);
}

.menu-title-container h1{
    line-height:83.2px;
    margin-bottom:20px;
}

.menu-content{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:100px;
}

.menu-image-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu-image-container img{
    width:300px;
    height:509px;
}

.menu-card-wines{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.menu-card-wines h4{
    font-size:25px;
    font-weight:500;
}

.menu-card-cocktails h4{
    font-size:25px;
    font-weight:500;
}

.menu-card-cocktails{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.menu-items{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:100%;
}

@media screen and (max-width:768px){
    .menu-content{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        padding:30px;
        gap:20px;
    }

    .menu-cards-cocktails{
        display:flex;
        align-items:flex-end;
        margin-top:20px;
    }

    .menu-container{
        padding-bottom:200px;
    }
}
