.navbar-container{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: var(--black);
}


.navbar-logo{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.navbar-logo img{
    width:150px;
}

.navbar-menu{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}


.navbar-log{
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}


.space-bar{
    width:1px;
    height:57px;
    background-color:var(--golden);
    margin: 0 30px;
}

.navbar-smallScreen{
    display:none;
}

.navbar-smallScreen-overlay{
    width:100%;
    height:100vh;
    background-color: var(--black);
    position:absolute;
    z-index: 5;
    top:0;
    left:0;
}

.navbar-menu-smallScreen{
    display:flex;
    flex-direction:column;
    gap:50px;
    align-items:center;
    margin-top:5rem;
}

.navbar-menu-smallScreen a{
    color: var(--golden);
    font-size:25px;
    font-family: var(--baseFont);
}

.overlay__close{
    color: var(--golden);
    font-size:27px;
    position:absolute;
    top:20px;
    right:20px;
}

@media(max-width: 1150px){
    .navbar-menu{
        display: none;
    }

    .navbar-smallScreen{
        display:flex;
    }
}